{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-unused-vars": [2, { "varsIgnorePattern": "h" }],
    }
}
