{
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "prettier",
        "react"
    ],
    "rules": {
        "no-unused-vars": [2, { "varsIgnorePattern": "h" }],
        "prettier/prettier": [
          "error",
          {
            singleQuote: true,
            trailingComma: "all"
          }
        ],
        "react/jsx-uses-vars": "error"
    },
    "env": {
        "browser": true,
        "jest": true
    },
}
