{
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-unused-vars": [2, { "varsIgnorePattern": "h" }]
    },
    "env": {
        "browser": true
    }
}
